* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: inherit;
	list-style: none;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-color: #2B2737;
}
body {
	font-family: 'Roboto', sans-serif;
	position: relative;
	color: #FFF;
}
/* --- HEADER --- */
header {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}
header .logo {
	height: 300px;
	width: 144px;
	margin: -100px auto 0;
	align-self: top;
	position: relative;
}
header .navigation {
	width: 100%;
	height: 100px;
	padding-top: 20px;
}
header .navigation ul {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
header .navigation li {
	font-family: 'Anton', sans-serif;
	font-size: 30px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 48px;
	margin: 0 30px;
	position: relative;
}
header .navigation li::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 2px;
	height: 30px;
	background: #FFF;
	margin: 7px 0 0 -30px;
	opacity: .3;
}
header .navigation li:first-child::before {
	display: none;
}
/*header .navigation a:hover::after,
header .active::after {
	content: '';
	display: block;
	position: absolute;
	width: 120%;
	margin: -21% 0 0 -10%;
	height: 3px;
	background: #F6708E;
}*/
header .navigation a:hover,
header .active {
	color: #E0ED3F;
}
/* --- INTRO --- */
.background {
	display: block;
	max-width: 100vw;
	width: 100%;
	background-color: #B5B6B5;
	background-image: url(../img/background.png);
	background-repeat: repeat;
	overflow-x: hidden;
}
.intro {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	padding: 120px 0 0 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.linehead {
	display: block;
    position: absolute;
    width: 2px;
    height: 200px;
    background: #FFFFFF;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translateX(-50%); */
    margin: 1120px 50% 0;
}
.intro h1 {
	font-family: 'Anton', sans-serif;
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin: 50px 195px -204px;
    max-width: 796px;
    align-self: flex-start;
    text-align: right;
}
.intro p {
	max-width: 400px;
	width: 100%;
	font-size: 20px;
	margin: 0 -400px 30px 0;
	line-height: 28px;
}
.intro img.badge {
	width: 320px;
	height: 383px;
	margin: -350px 0 0 -480px;
}
.seperator_1  {
	width: 100vw;
	margin: -110px 0 140px 0;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
}
.tiles {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 150px;
}
.tiles a {
	display: block;
	padding: 70px 60px;
	position: relative;
}
.tiles h1,
.tiles h2 {
	font-family: 'Anton', sans-serif;
	font-size: 48px;
	line-height: 52px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: table-caption;
}
.tiles a:hover .day {
	background-blend-mode: multiply;
}
.tiles h2 {
	color: #E0ED3F;
}
.track {
	position: absolute;
	max-width: 412px;
	width: 100%;
	bottom: 55px;
	display: flex;
}
.thr .track {
	max-width: 600px;
}
.track .line,
.line {
	width: 100%;
	height: 1px;
	background: #FFF;
	margin: 15px 40px 0 30px;
	position: relative;
}
.track .line::after,
.line {
	content: '';
	width: 28px;
	height: 28px;
	display: block;
	position: absolute;
	background: url(../img/home/linehead.svg);
	right: -14px;
	top: -13px;
}
.track .line {
	margin: 30px 50px 0 10px;
}
.track p {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 1.5px;
	display: block;
}
.day {
	box-shadow: 0 20px 40px 0 rgba(0,0,0,0.15);
}
a.one {
	width: 532px;
	height: 680px;
	align-self: flex-start;
	background-color: #1E2A66;
	background-image: url(../img/home/tiles_1.jpg);
	z-index: 4;
}
a.two {
	width: 532px;
	height: 680px;
	align-self: flex-end;
	margin: -400px 0 0 0;
	background-color: #1E2A66;
	background-image: url(../img/home/tiles_2.jpg);
	z-index: 3;
}
a.two br {
	display: none;
}
a.thr {
	width: 720px;
	height: 600px;
	align-self: center;
	margin: -40px 0 0 0;
	background-color: #4462FF;
	background-image: url(../img/home/tiles_3.jpg);
	z-index: 2;
}
a.fou {
	width: 532px;
	height: 680px;
	align-self: flex-start;
	margin: -40px 0 0 0;
	background-color: #1E2A66;
	background-image: url(../img/home/tiles_4.jpg);
	z-index: 1;
}
a.day {
	background-size: cover;
	background-repeat: no-repeat;
}
a.day:hover {
	background-blend-mode: multiply;
}
.seperator_2  {
	width: 100vw;
	margin: 0 0 0 0;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	margin-bottom: 170px;
}
.seperator_2 img {
	margin-left: -650px;
	height: 100%;
	margin-top: 20px;
}
.seperator_2 ul {
	margin-left: 100px;
}
.seperator_2 li {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
}
.seperator_2 h1 {
	font-family: 'Anton', sans-serif;
	font-size: 64px;
	letter-spacing: 0;
	line-height: 64px;
}
.seperator_2 p {
	font-size: 18px;
	letter-spacing: 1px;
	width: 100%;
	text-align: center;
	top: 50px;
}
.footer {
	width: 100%;
	background: rgba(97, 108, 112, 0.2);
	padding: 110px 0px;
}
.footer p {
	font-size: 20px;
	letter-spacing: 1.11px;
	line-height: 28px;
	display: block;
	text-align:
}
.footer a {
	color: #E0ED3F;
}
.footer a:hover {
	border-bottom: 1px solid #E0ED3F;
}
.footer_wrapper {
	max-width: 1024px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 110px;
	margin: 0 auto;
}
.footer svg:last-child {
	margin-left: 50px;
}
.textlink {
	color: #E0ED3F;
}
.textlink:hover {
	border-bottom: 1px solid #E0ED3F;
}
@media screen and (max-width: 1024px) {
	.content_bildmodul {
		padding-bottom: 60px;
	}
	.content_text img {
		margin-top: 40px;
		padding-bottom: 40px;
	}
	.linehead {
		margin-top: 900px;
	}
	.tiles a h2 {
		display: table-caption;
	}
	.intro p {
		margin-right: -340px;
		padding-right: 40px;
	}
	.intro img.badge {
		width: 280px;
		height: 335px;
		margin-left: -420px;
	}
	.two h1,
	.two h2 {
		position: absolute;
		right: 60px;
		text-align: right;
	}
	.two h2 {
		top: 175px;
	}
	.two br {
		display: block !important;
	}
	.intro h1 {
	margin: 50px 170px -204px;
	}
}
@media screen and (max-width: 1023px) {
	.seperator_2 ul {
		margin-left: 10px !important;
	}
	.intro h1 {
    margin: 50px 50px -204px;
	}
	.footer_wrapper {
		padding: 0 60px;
	}
}
@media screen and (max-width: 767px) {
	a.two {
		background-position: right;
	}
	.content_bildmodul {
		padding-bottom: 0px;
	}
	.content_text img {
		margin-top: 0px;
		padding-bottom: 0px;
	}
	.footer_wrapper {
		padding: 0 40px;
	}
	.container {
		margin-top: -40px;
	}
	.return {
		transform: scale(.9);
	}
	header.days {
		max-height: 90vh !important;
	}
	header .navigation li {
		margin: 0 10px;
		font-size: 26px;
	}
	header .navigation li::before {
		margin-left: -10px;
		height: 26px;
		margin-top: 10px;
	}
	.intro h1 {
		font-size: 54px;
		line-height: 58px;
		margin-top: 50px;
		margin-bottom: 40px;
		text-align: center;
		width: 70%;

	}
	.intro p {
		margin-right: 0;
		padding: 0 20px;
		max-width: 100vw;
		width: 100%;
	}
	.intro img.badge {
		margin: 0;
	}
	.seperator_1 {
		margin-top: -200px;
		margin-bottom: 0;
	}
	.seperator_1 img {
	    margin-top: 10px;
		margin-left: 320px;
		transform: scale(.7);
	}
	a.one,
	a.two,
	a.thr,
	a.fou {
		width: 90vw;
		height: 90vh;
		margin: 40px 20px;
		align-self: center;
		padding: 30px 20px;
	}
	.two h1,
	.two h2 {
		position: inherit;
		right: 0;
		text-align: left;
	}
	.tiles h2 {
		top: 0;
		display: table-caption;
	}
	.track,
	.thr .track {
		max-width: calc(90vw - 40px);
	}
	.seperator_2 {
		flex-wrap: wrap-reverse;
		margin-bottom: 0;
	}
	.seperator_2 ul {
		margin: 0;
	}
	.seperator_2 img {
		margin-top: -150px;
		margin-left: -550px;
		transform: scale(.8);
	}
	.footer_wrapper {
		justify-content: center;
	}
	.footer_item {
		margin-bottom: 40px;
	}
	.footer svg:last-child {
		margin: 0;
	}
	.social a {
		margin: 0 20px;
	}
	.track .line {
		margin: 25px 40px 0 0px;
	}
}
@media screen and (max-width: 414px) {
	header .navigation li {

	}
	.track p {
		font-size: 18px;
	}
	.tiles {
		margin-bottom: 50px;
	}
	.seperator_2 img {
		margin-top: -80px;
	}
	.footer p {
		text-align: center;
	}
	.content_intro_head {
		flex-direction: column;
	}
	.content_intro_date {
		margin-bottom: 40px;
		margin-top: -5px;
		font-size: 22px !important;
		font-weight: 600 !important;
	}
	.intro .linehead {
		height: 150px !important;
	}
	.intro h1 {
		margin-top: 20px;
	}
	.intro p {
		text-align: center;
	}
@media screen and (max-width: 320px) {
	header .navigation {

	}
	.content_intro_head {
		flex-direction: column;
	}
	.content_intro_date {
		margin-bottom: 40px;
		margin-top: -5px;
		font-size: 22px !important;
		font-weight: 600 !important;
	}
	header .logo {
		transform: scale(.8);
	}
}
