* {
	padding: 0;
	margin: 0;
	color: #FFFFFF;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	font-size: 20px;
	text-decoration: none;
}
body {
	background: url(../img/bg.png) #B5B6B5;
}
header {
	background: #333;
	height: 80vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
}
.navigation {
	width: 100%;
	height: 100px;
	padding-top: 20px;
	align-self: flex-start;
	background-image: linear-gradient(rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.00) 80%);
}
 .navigation ul {
	display: flex;
	justify-content: center;
	list-style: none;
}
.navigation a {
	font-family: 'Anton', sans-serif;
	font-size: 30px;
	line-height: 48px;
	margin: 0 30px;
	position: relative;
	transition: .3s;
	color: #FFF;
}
.navigation a:hover {
	color: #E0ED3F;
}
.navigation li:before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 2px;
	height: 30px;
	background: #FFF;
	margin: 7px 0 0 0px;
	opacity: .3;
}
.navigation li:first-child::before {
	display: none;
}
.day_logo {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto -25px auto;
	padding: 0 20px;
}
.day_logo > img {
	width: 50px;
	margin-bottom: 10px;
}
.day_logo > h1 {
	font-family: 'Anton', sans-serif;
	text-transform: uppercase;
	font-size: 60px;
	line-height: 62px;
	display: table-caption;

}
a {
	color: #E0ED3F;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-bottom: 2px solid #E0ED3F;
}
img {
	width: 100%;
	margin-bottom: 60px;
}
.content:first-of-type {
	max-width: 1024px;
	padding: 60px 20px 0;
	margin: 0 auto;
}
.content:last-of-type {
	max-width: 1024px;
	padding: 0px 20px 100px;
	margin: 0 auto;
}
.summary {
	width: 100%;
	padding: 0 0px;
}
.infos {
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
}
.date {
	align-self: flex-start;
}
.table {
	width: 400px;
	align-self: flex-end;
	margin-top: -26px;
}
.table-row {
	flex-basis: 100%;
	max-width: 400px;
	width: 100%;
	display: flex;
	margin-bottom: 5px;
}
.table-line {
	width: 100%;
	height: 2px;
	border-top: 2px dotted #FFF;
	margin: 14px 10px 0 10px;
}
.table-line-solid {
	width: 100%;
	height: 2px;
	border-top: 1px solid #FFF;
	margin: 14px 25px 0 10px;
	position: relative;
}
.table-line-solid:after {
	content: '';
	display: block;
	position: absolute;
	height: 27px;
	width: 27px;
	background: url(../img/line-end.svg);
	top: -14px;
	right: -14px;
}
.quote {
	display: flex;
	flex-direction: column;
	margin-bottom: 60px;
}
.quote > p {
	font-family: 'Times New Roman', sans-serif;
	font-size: 40px;
	color: #E0ED3F;
	line-height: 42px;
	max-width: 400px;
	padding: 0 20px;
	margin: 0 auto 60px 80px;
}
.quote > img:first-of-type {
	max-width: 432px;
	align-self: flex-end;
	margin: -100px 0 0;
}
.quote > img:last-of-type {
	max-width: 632px;
	align-self: flex-start;
	margin: -500px 0 0 0;
}
.diary {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.diary > p {
	padding-left: 20px;
	max-width: 500px;
	font-size: 18px;
	margin-bottom: 60px;
	line-height: 28px;
	letter-spacing: 1.11px;
}
#slides {
	display: none
}
.container {
	margin: 0 auto 60px;
}
.slidesjs-pagination {
	display: flex;
	justify-content: center;
}
.slidesjs-pagination li > a {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #FFF;
	overflow: hidden;
	padding: 5px;
	margin: 20px 10px 0;
}
.slidesjs-pagination li > a.active,
.slidesjs-pagination li > a:hover,
.slidesjs-pagination li > a:hover.active {
	background: #FFF;
}
.next {
	display: block;
	width: 130px;
	text-transform: uppercase;
	font-family: 'Anton', sans-serif;
	margin: 0 auto;
	font-size: 26px;
}
footer {
	width: 100%;
	height: 200px;
	background: rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.footer-container {
	max-width: 1024px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	align-self: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contact {
	float: left;
	font-size: 14px;
	padding-top: 6px;
}
.social {
	float: right;
}
.contact,
.social,
.contact > a,
.social > a {
	font-size: 18px !important;
	letter-spacing: 0;
	line-height: 22px !important;
}
.social > a:last-of-type {
	margin-left: 20px;
}
.social > a:hover {
	border-bottom: 2px solid transparent;
}
.social > a:hover svg path {
	fill: #E0ED3F;
}
.legal {
	display: block;
	flex-basis: 100%;
	clear: both;
	padding-top: 40px;
	font-size: 14px;
	text-align: center;
}
.legal > a {
	font-size: 14px !important;
	line-height: 16px !important;
	letter-spacing: 0;
}
.imprint {
	padding: 0 20px;
	max-width: 650px;
}
.imprint ul {
	margin-bottom: 40px;
}
.imprint h1 {
	font-size: 26px;
	margin-bottom: 10px;
}
.imprint h2 {
	font-size: 22px;
	margin-bottom: 10px;
}
.imprint p {
	margin-bottom: 40px;
}
.nav_active {
	color: #E0ED3F !important;
}
.back {
	position: fixed;
	top: 34px;
	left: 20px;
	z-index: 100;
}
.back:hover {
	border: 0px;
}
.back img {
	height: 22px;
	width: 14px;
}
@media screen and (max-width: 1023px) {´
	.altitude {
		display: none;
	}
	.quote > img:first-of-type {
		display: none;
	}
	.quote > img:last-of-type {
		margin: 0;
		max-width: none;
	}
}
@media screen and (max-width: 767px) {
	.table,
	.date {
		width: 100%;
		padding: 0 20px;
	}
	.table {
		margin-top: 40px;
		align-self: flex-start;
		width: 100%;
	}
	.table-row {
		max-width: 100%;
	}
	.quote > p {
		max-width: none;
		margin-left: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
	.altitude {
		display: none;
	}
	.diary > p {
		padding-left: 20px;
		padding-right: 20px;
	}
	.day_logo > img {
		margin-left: 0px !important;
	}
	.content:first-of-type,
	.content:last-of-type {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.container img {
		margin-left: 0 !important;
	}
}
@media screen and (max-width: 413px) {
	header {
		height: 70vh;
	}
	.navigation a {
	   margin: 0 10px;
   }
	.navigation li::before {
	   margin: 9px 0 0 0px;
   }
}
